@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #1a1b1e;
	--rt-opacity: 1;
}

/* Remove the border from the color input swatch */
input[type='color'] {
	-webkit-appearance: none; /* Remove default styling in WebKit browsers */
	border: none; /* Remove any border */
	padding: 0; /* Remove padding */
}

input[type='color']::-webkit-color-swatch {
	border: none; /* Remove the border for WebKit browsers (Chrome, Safari) */
}

input[type='color']::-moz-color-swatch {
	border: none; /* Remove the border for Firefox */
}

.raster-icon {
	width: calc(var(--customize-size, 24) * 1px);
	height: calc(var(--customize-size, 24) * 1px);
}

.raster-icon,
.raster-icon-custom {
	will-change: width, height, stroke-width, stroke;
	color: var(--customize-color, #fefefe);
	stroke-width: var(--customize-strokeWidth, 0.25);
}

.raster-icon > *,
.raster-icon-custom > * {
	rx: var(--customize-cornerRadius, 1);
}

.guide-container {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.guide-container > h1 {
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1.3rem 0;
}

.guide-container > h2 {
	font-size: 1.3rem;
	font-weight: 500;
	padding: 1rem 0;
	border-top: 1px dashed #3f3f46;
	margin-top: 1rem;
}

.guide-container > h3 {
	font-size: 1rem;
	font-weight: 500;
	padding: 0.8rem 0;
}

.guide-container > hr {
	border: none;
	border-top: 1px dashed #f54;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}

.guide-container > p {
	margin-bottom: 0.5rem;
	color: #c8c8c8;
}

.guide-container > a {
	text-decoration: underline;
	color: #f54;
}

.guide-container > p > a {
	text-decoration: underline;
	color: #f54;
}

.guide-container > pre {
	padding: 1rem;
	margin-bottom: 1rem;
	background: #202124;
	border-radius: 0.375rem;
}

.guide-container > pre > code {
	text-wrap: initial;
	font-size: 0.75rem;
}

.guide-container table {
	font-size: 0.75rem;
}

.guide-container tr {
	background: #202124;
}

.guide-container tbody > tr:nth-child(even) {
	background: #202124;
}

.guide-container tbody > tr:nth-child(odd) {
	background: #29292b;
}

.guide-container th {
	text-align: left;
	padding: 0.5rem 1rem;
	border: 1px dashed #3f3f46;
}

.guide-container td {
	text-align: left;
	padding: 0.5rem 1rem;
	border: 1px dashed #3f3f46;
}

.guide-container td > code {
	background: #18181b;
	padding: 0.4rem;
	border-radius: 0.375rem;
	color: #f54;
}

@keyframes moving-banner {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

.banner-gradient {
	animation: moving-banner 20s linear infinite;
	--start: hsla(0, 92%, 62%, 0.5);
	--mid: rgba(20, 158, 218, 0.4);
	--end: rgba(217, 10, 214, 0.51);
	--via: rgba(255, 85, 68, 0.87);
	background-image: repeating-linear-gradient(
		45deg,
		var(--end),
		var(--start) 4%,
		var(--start) 8%,
		transparent 9%,
		transparent 14%,
		var(--mid) 16%,
		var(--mid) 20%,
		transparent,
		var(--via) 36%,
		var(--via) 40%,
		transparent 42%,
		var(--end) 46%,
		var(--end) calc(50% - 16.8px)
	);
	mix-blend-mode: color-dodge;
	background-size: 200% 100%;
}

.banner-gradient {
	-webkit-mask-image: linear-gradient(180deg, #fff, transparent),
		radial-gradient(circle at top center, #fff, transparent);
	mask-image: linear-gradient(180deg, #fff, transparent),
		radial-gradient(circle at top center, #fff, transparent);
	-webkit-mask-composite: source-in, xor;
	mask-composite: intersect;
}
